@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
footer{
    background-color: black;
    color: white;
    
}
.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 10px;
}
.texto{
    display: flex;
    flex-direction: row;
}
.inconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.incono{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:#1c1c1c ;
    color: white;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
a{
    color: white;
    text-decoration: none;


}
p{
    color: gray;
}
i{
    color: white;
    transform: scale(1.8);
}