@import "tailwindcss";

:root{
    scroll-behavior: smooth;
    scrollbar-width: none;
}


/* Animaciones para el header */
@keyframes LineAnimationStart {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

@keyframes LineAnimationEnd {
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}
/* animacione para las preguntas del apartado de servicio */

/* Animacion de tres lineas en pc */
@keyframes AnswerAnimation1Start {
    
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        opacity: 1;
        height: 72px;
    }
}
@keyframes AnswerAnimation2Start {
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        opacity: 1;
        height: 48px;
    }
}
@keyframes AnswerAnimation3Start {
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        opacity: 1;
        height: 24px;
    }
}
@keyframes AnswerAnimation4Start {
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        opacity: 1;
        height: 120px;
    }
}
@keyframes AnswerAnimation5Start {
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        opacity: 1;
        height: 95px;
    }
}
